@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-image: url("https://untuned.us/img/background.jpg");
	background-size: cover;
	color: white;
	font-family: 'Roboto', sans-serif;
}
