/* @import url("https://untuned.us/plug/vips.css"); */
@import url("https://untuned.us/plug/ranks.css");

body {
  color: #eee;
  opacity: 1;
}

.left-side-wrapper {
  background-position-x: 50px !important;
}

.community .community__name {
  color: #eee !important;
}

#app .logo-wrapper .back-button {
  opacity: 1 !important;
}

#app .logo-wrapper .back-button:hover {
  opacity: .6 !important;
}

.community .community__top,
#header-panel-bar.right-meta,
.bottom__playback-meta,
.bottom__playback-controls {
  background: linear-gradient(hsl(210, 10%, 20%), hsl(210, 10%, 10%));
}

#room-settings .general-settings .option button.off {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%));
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

.right-meta .header-panel-button.selected,
.community .community__playlist--desktop,
.community .community__playlist--mobile,
#playlist-menu .menu .row.selected,
#room-settings .general-settings button.off,
#room-settings .general-settings .option.enabled button.on {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%));
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

#playlist-panel.playlist--override #media-panel .header .playlist-buttons-container .button#playlist-activate-button {
  border-radius: 0px !important;
  border-radius: 0px !important;
  background: none !important;
  border-color: #0f7ccb !important;
  color: #0f7ccb !important;
}

#playlist-panel.playlist--override #media-panel .header .playlist-buttons-container .button#playlist-activate-button.active {
  border-color: #0f7ccb !important;
  color: #0f7ccb !important;
  opacity: 1;
  border-radius: 0px !important;
  background: none !important;
}

#playlist-panel.playlist--override #media-panel .media-list .jspContainer .jspPane .container-fluid .row.now-playing {
  border-bottom: none !important;
}

.user-content .header span,
.user-content.profile .points .label,
.user-content.profile .meta .joined,
.user-content.profile .meta .link .label,
#user-settings .container label {
  font-weight: 600 !important;
  color: #0f7ccb !important;
}

#user-view .user-content.profile .points .pp .pp-points .value {
  margin-left: 5px !important;
  top: 15px !important;
}

#user-view #user-settings.user-content .account .container button,
#user-settings .container button:hover,
#user-view #user-settings.user-content .account .container .subscribe-button,
.subscribe-button:hover {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

#user-view #user-settings.user-content .account .container .subscribe-button i,
#user-view #user-settings.user-content .account .container .subscribe-button {
  color: #fff !important;
}

#user-settings .container .item span,
#user-settings .container .cap .title,
#user-settings .container .refresh {
  color: #fff !important;
}

.user-content.profile .points i {
  top: 15px !important;
}

.user-content.profile .meta .joined {
  margin-left: 0px !important;
}

#user-view .user-content.profile .points .pp .pp-points {
  background: none !important;
}

#playlist-panel.playlist--override #media-panel .header .playlist-buttons-container .button#playlist-activate-button.active>i {
  color: #0f7ccb !important;
}

#playlist-panel.playlist--override #media-panel #playlist-import-panel .import-box .button {
  border-radius: 0px !important;
  color: #fff !important;
}

#playlist-panel.playlist--override #media-panel .header .import-button {
  font-size: 10px !important;
  border-radius: 0px !important;
  font-weight: 300 !important;
  color: #fff !important;
}

#playlist-panel.playlist--override #media-panel #playlist-import-panel .import-box .button i {
  display: none !important;
}

.dialog.no-submit .button.submit {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  border-left: 1px solid #22262a;
  color: #fff !important;
}

.header-panel-button {
  border-right: 0px;
  border-left: 1px solid #0a0a0a;
}

.community__playlist--desktop[data-song] .icon-playlist {
  color: #fff;
}

.btn-no-dj-secondary {
  border-radius: 50px;
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%));
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

#rs-eta {
  color: #fff !important;
}

#playlist-activate-button span {
  color: #eee !important;
}

.nav-left__item.selected .nav-left__item-icon,
.nav-left__item.selected .nav-left__item-text {
  color: #3d9cde !important;
}

.community .community__song-playing-progress .progress .progress-bar,
[data-view=room] .bottom__playback-controls .volume-bar .progress .progress-bar {
  background-color: #3d9cde !important;
}

.nav-left__item.selected {
  border-left: 2px solid #3d9cde !important;
}

.nav-left__item {
  color: #eee !important;
  opacity: 1 !important;
}

.community .friends .list .row {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.nav-left__item:hover {
  background: linear-gradient(hsla(220, 10%, 10%, 0.5), hsla(220, 10%, 12%, 0.5)) !important;
  opacity: 1;
  border-left: 2px solid #3d9cde !important;
}

.nav-left .download-app {
  background: linear-gradient(hsla(220, 10%, 10%, 0.5), hsla(220, 10%, 12%, 0.5)) !important;
}

.nav-left__item.selected {
  background: linear-gradient(hsla(220, 10%, 10%, 0.5), hsla(220, 10%, 12%, 0.5)) !important;
}

.community #chat,
.community__left-nav,
.community #user-lists,
.community #waitlist,
.community .friends,
#rcs-menu,
#user-view #user-menu,
.user-level-dropdown__bottom,
.user-profile-dropdown,
.user-level-dropdown,
.nav-left {
  background: rgb(30, 35, 40);
}

.community .room-controls--desktop {
  background: rgb(30, 35, 40, 0.7) !important;
}

.community #chat #chat-header,
#user-lists .header,
#waitlist .header {
  background: rgba(30, 35, 40, 0.7);
  border-bottom: #1c1f25 3px solid !important;
}

#chat-messages::-webkit-scrollbar,
.dropdown dd::-webkit-scrollbar,
#woot-rs-list::-webkit-scrollbar,
#grab-rs-list::-webkit-scrollbar,
#meh-rs-list::-webkit-scrollbar,
.dialog::-webkit-scrollbar {
  width: 7px !important;
  box-shadow: inset -1px 0 7px hsla(0, 0%, 0%, 0.7);
}

#chat-messages::-webkit-scrollbar-thumb,
.dropdown dd::-webkit-scrollbar-thumb,
#woot-rs-list::-webkit-scrollbar-thumb,
#grab-rs-list::-webkit-scrollbar-thumb,
#meh-rs-list::-webkit-scrollbar-thumb,
.dialog::-webkit-thumb,
.jspDrag {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
}

.jspTrack {
  box-shadow: inset -1px 0 10px hsla(0, 0%, 20%, 1);
}

#chat-input-field {
  color: #eee !important;
  font-weight: bold;
}

#chat-input-field:focused {
  color: red !important;
  background: red !important;
}

/*### [message] ###*/
#chat .cm {
  animation: fadein 0.2s;
}

#chat .cm {
  background: linear-gradient(hsla(220, 10%, 20%, 0.5), hsla(220, 10%, 15%, 0.5));
  box-shadow: inset 1px 1px 0 hsla(220, 10%, 20%, 0.8);
}

#chat .cm.message:nth-child(odd) {
  background: linear-gradient(hsla(220, 10%, 10%, 0.5), hsla(220, 10%, 12%, 0.5));
  box-shadow: inset 1px 1px 0 hsla(220, 10%, 5%, 0.8);
  color: #ccc;
}

#chat .cm.message .timestamp {
  color: #818285;
}

#chat .cm .badge-box {
  background: transparent !important;
}

#chat .cm .delete-button {
  border-radius: 4px;
  background: linear-gradient(hsl(0, 0%, 30%), hsl(0, 0%, 40%));
  box-shadow: inset 0 0 0 1px hsl(0, 0%, 50%);
}

#chat .cm .delete-button:hover {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%));
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
  color: #fff;
}

/* Mentions */
#chat .cm.mention.role-host {
  background: linear-gradient(hsla(200, 100%, 30%, 0.8), hsla(200, 100%, 20%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(200, 50%, 50%);
}

#chat .cm.mention.role-host .name,
#chat .cm.mention.role-host .timestamp {
  color: hsl(200, 100%, 50%);
}

#chat .cm.mention.role-cohost {
  background: linear-gradient(hsla(210, 100%, 30%, 0.8), hsla(210, 100%, 20%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(210, 50%, 50%);
}

#chat .cm.mention.role-cohost .name,
#chat .cm.mention.role-cohost .timestamp {
  color: hsl(210, 100%, 50%);
}

#chat .cm.mention.role-manager {
  background: linear-gradient(hsla(350, 85%, 20%, 0.8), hsla(350, 85%, 10%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(350, 50%, 50%);
}

#chat .cm.mention.role-manager .name,
#chat .cm.mention.role-manager .timestamp {
  color: #E15;
}

#chat .cm.mention.role-bouncer {
  background: linear-gradient(hsla(354, 100%, 20%, 0.8), hsla(354, 100%, 10%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(354, 50%, 50%);
}

#chat .cm.mention.role-bouncer .name,
#chat .cm.mention.role-bouncer .timestamp {
  color: #F45;
}

#chat .cm.mention.role-dj {
  background: linear-gradient(hsla(20, 100%, 30%, 0.8), hsla(20, 100%, 20%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(20, 50%, 50%);
}

#chat .cm.mention.role-dj .name,
#chat .cm.mention.role-dj .timestamp {
  color: hsl(20, 100%, 60%);
}

#chat .cm.mention.role-subscriber {
  background: linear-gradient(hsla(40, 100%, 30%, 0.8), hsla(40, 100%, 20%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(30, 50%, 50%);
}

#chat .cm.mention.role-subscriber .name,
#chat .cm.mention.role-subscriber .timestamp,
#user-rollover .meta.subscriber .status span {
  color: hsl(40, 100%, 60%);
}

#chat .cm.mention {
  background: linear-gradient(hsla(77, 100%, 20%, 0.8), hsla(77, 100%, 11%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(77, 100%, 30%);
  border: none !important;
}

#chat .cm.mention .name,
#chat .cm.mention .timestamp {
  color: hsl(77, 100%, 50%);
}

#chat .cm.mention .msg .from .un {
  color: hsl(77, 100%, 40%);
}

#chat .cm.mention .msg {
  /*fix RCS*/
  background: none !important;
}

/*--[BOT]--*/
#chat .cm.emote {
  background: linear-gradient(hsla(219, 100%, 20%, 0.8), hsla(219, 100%, 10%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  border-left: none !important;
  text-align: left;
  box-shadow: inset 0 0 0 1px hsla(220, 100%, 50%, 0.5);
  border: none !important;
}

#chat .cm.emote .un,
#chat .cm.emote .timestamp {
  color: hsl(210, 100%, 60%) !important;
}

#chat .cm.emote i {
  display: inline !important;
}

#chat .emote .text {
  font-style: oblique !important;
}

.fa-thumbs-up:before {
  content: "";
}

.community .room-controls--desktop__item .btn-like.clicked {
  color: #92ac3a;
  opacity: 1;
}

.fa-thumbs-down:before {
  content: "";
}

.community .room-controls--desktop__item .btn-meh.clicked {
  color: #c52c39;
  opacity: 1;
}

.community .community__info-item,
.community .community__player-item,
.community .room-controls--desktop__item,
.community .bottom__playback-controls--desktop .community__player-item.history .fa,
.community .bottom__playback-controls--desktop .community__player-item.history .plugdjfont,
.community .bottom__playback-controls--desktop .community__player-item.share-song-trigger .fa,
.community .bottom__playback-controls--desktop .community__player-item.share-song-trigger .plugdjfont {
  opacity: 1;
}

.community .community__info-item:hover,
.community .community__player-item:hover,
.community .room-controls--desktop__item:hover,
.community .bottom__playback-controls--desktop .community__player-item.share-song-trigger:hover,
.community .bottom__playback-controls--desktop .community__player-item.history:hover {
  opacity: .6
}

.community .room-controls--desktop {
  border: 1px solid #0575c4;
}

/*--[user-menu]--*/
#user-menu,
#room-settings-menu,
#playlist-menu {
  background: linear-gradient(to right, hsla(210, 10%, 40%, 0), hsla(210, 10%, 50%, 0.2));
}

#user-view,
#dashboard,
#room-settings,
#media-panel,
#playlist-panel,
#history-panel {
  background: linear-gradient(hsla(210, 10%, 7%, 0.9), hsla(210, 10%, 5%, 0.9)) !important;
}

#dashboard .tab-menu button,
#dashboard .tab-menu button:last-child {
  width: 100% !important;
  border-bottom: none !important;
  padding: 0 !important;
}

#user-menu .item:hover,
#room-settings-menu .item:hover {
  background: linear-gradient(hsla(205, 100%, 40%, 0.6), hsla(205, 100%, 30%, 0.6));
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.2);
}

#user-menu .item.selected,
#room-settings-menu .item.selected {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%));
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

#the-user-profile .notifications.section .row {
  border-radius: 10px;
  background: linear-gradient(hsl(210, 100%, 20%), hsl(210, 100%, 10%));
}

.tab-menu .selected {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4) !important;
}

#dialog-user-role .role-menu:hover {
  border-radius: 10px 10px 0 0;
  font-weight: normal;
}

.dropdown dt .level {
  color: #eee !important;
}

.dropdown dd,
#chat-suggestion,
#dialog-user-role .role-menu .menu ul li,
#search-suggestion li,
#dialog-restricted-media .row.selected,
  {
  background: hsla(210, 10%, 10%, 0.8) !important;
}

#dialog-user-role .role-menu .menu ul li {
  border-color: hsla(210, 10%, 8%, 0.8);
}

#user-menu .count,
.requests .count,
.buttons .count,
.request-count,
.friends .header i,
.community .user-profile__notifications {
  background: radial-gradient(hsl(215, 100%, 50%), hsl(210, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px hsl(200, 100%, 50%);
  text-shadow: 0 0 3px #000;
}

#user-menu .selected .count,
.button:hover .count,
#friends-button.selected span,
#user-friends .requests.selected span,
.friends .header:hover i {
  background: radial-gradient(hsl(210, 10%, 20%), hsl(0, 0%, 0%)) !important;
  box-shadow: inset 0 0 1px #000;
  font-weight: bold;
}

.grid .cell {
  box-shadow: 0 0 10px #000;
}

.grid .cell,
.user-content .badges .cell,
#user-store .misc .grid .cell .title-bar {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
}

.grid .cell .bar,
.grid .cell .meta,
#user-friends .row {
  background: rgb(30, 35, 40) !important;
}

.grid .cell .meta .host {
  text-align: center;
  top: 6px;
  color: #eee !important;
}

.grid .cell .meta .join {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  border: none !important;
}

.communities .grid .cell .meta .join .label {
  text-align: center;
  color: #eee !important;
}

.communities .grid .cell .meta .join i {
  display: none;
}

#user-view #user-menu {
  border-left: #1c1f25 3px solid !important;
  border-right: #1c1f25 3px solid !important;
}

#user-inventory .badges .grid .cell {
  background: rgb(30, 35, 40) !important;
}

.communities .grid .cell:hover>.meta .room,
.communities .grid .cell:hover>.meta .now-playing,
.communities .grid .cell .meta .room,
.communities .grid .cell.no-media .now-playing {
  text-align: center;
}

.communities .grid .cell .bar {
  border-bottom: #1c1f25 3px solid !important;
}

.communities .grid .cell:hover>.meta .now-playing {
  margin-top: 20px !important;
}

.user-content.communities .grid .cell,
.user-content .grid .cell {
  box-shadow: 0 0 10px #000 !important;
}

.communities .grid .cell .meta {
  border-top: #1c1f25 3px solid !important;
}

#user-view #user-menu .item .label {
  color: #eee !important;
}

.communities .grid .cell .meta .now-playing i {
  display: none;
}

.user-content .grid .cell .top {
  background: rgb(30, 35, 40) !important;
}

.user-content.communities button {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

.grid .cell .bar .favorite.selected {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

.grid .cell .bar .favorite.selected .icon-grab {
  background-position: -35px -280px;
}

#user-friends .row {
  box-shadow: 0 0 10px #000;
}

#user-friends .row .positive {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
}

#user-friends .row .positive:hover {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

#user-friends .row .negative {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
}

#user-friends .row .negative:hover {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
}

.user-content .avatars .cell:hover .top,
.user-content .avatars .cell.selected .top {
  background: rgb(30, 35, 40) !important;
  border: 1px solid rgb(1, 91, 158);
}

.dialog {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4) !important;
}

.dialog-frame .button.submit,
.rs .button.submit,
.media-list .row.now-playing,
#playlist-activate-button {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  border-left: 1px solid #22262a;
}

.dialog-frame .button.submit:hover,
.rs .button.submit:hover,
.media-list .row.now-playing:hover,
#playlist-activate-button:hover,
.action.edit:hover,
.action.related:hover,
.action.move-to-bottom:hover,
.action.move-to-top:hover,
.action.delete:hover,
#playlist-import-panel .button:hover,
#media-panel .header .import-button:hover,
.btn-no-dj-secondary:hover {
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4) !important;
}

.playlist-buttons-content #playlist-create.button,
.playlist-buttons-content #playlist-import.button {
  border: 1px solid #0f7ccb;
  border-radius: 0px !important;
}

#import-youtube .button span {
  top: 8px !important;
  font-size: 13px !important;
}

#playlist-import-panel .button,
#media-panel .header .import-button {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
}

.media-list .row.selected {
  background: rgba(0, 137, 255, 0.38823529411764707) !important;
}

#media-panel .header .back {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
}

.media-list .actions {
  background: none !important;
}

.media-list .selected .actions {
  background: none !important;
}

#playlist-panel.playlist--override #playlist-menu .menu .row .activate-button i.active {
  color: #fff !important;
}

#search {
  background: rgb(30, 35, 40) !important;
}

.user-content .badges .cell:hover,
#user-store .badges .cell:hover,
.user-content .badges .cell.selected {
  border: 1px solid rgb(1, 91, 158);
}

.grid .cell .top .expires,
.grid .cell .top .prices,
#the-user-profile .badge-box,
#media-panel {
  background: transparent !important;
}

.grid .cell .top .expires span {
  color: hsl(30, 100%, 50%) !important;
}

#the-user-profile .blurb .box {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 5px 1px hsla(0, 0%, 100%, 0.4);
}

#the-user-profile .blurb .arrow-up {
  border-bottom: 6px solid hsl(210, 100%, 25%);
}

#the-user-profile .experience .bar,
#footer-user .info .meta .bar {
  background: rgb(30, 35, 40) !important;
}

#the-user-profile .experience .bar .progress,
#footer-user .info .meta .bar .progress {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: 0 0 10px hsl(205, 100%, 50%);
}

#the-user-profile .experience .bar .value,
#footer-user .info .meta .bar .value {
  text-shadow: 0 0 3px black;
}

#playlist-menu .menu .row .count {
  color: #fff;
}

.rcspdjheader {
  background: linear-gradient(hsl(205, 100%, 40%), hsl(205, 100%, 30%)) !important;
  box-shadow: inset 0 0 10px 1px hsla(0, 0%, 100%, 0.4);
  height: 30px !important;
}

.rcspdjheader span {
  color: #eee !important;
  top: 7px !important;
}

.communities .grid .cell .meta .host {
  margin-top: 6px !important;
}

.btn-no-dj-secondary__icon {
  overflow: visible !important;
}

/*#####[YOU]#####*/
#chat .cm .msg .from.you .un {
  color: #0bf !important;
}

/*#####[BA]#####*/
.icon-chat-ambassador+span {
  color: #9C0 !important;
}

/*#####[HOST]#####*/
.icon-chat-host {
  background: url("https://untuned.us/plug/host.png");
}

.icon-chat-host+span,
#user-lists .group.host~.user span,
#dialog-user-role .role-menu .menu ul .host span {
  color: #db182e !important;
}

#user-lists .group.host {
  color: #db182e;
  background: linear-gradient(to right, hsla(360, 100%, 30%, 0.5), hsla(360, 100%, 40%, 0.5)) !important;
  top: 1px;
}

/*#####[CO-HOSTS]#####*/
.icon-chat-cohost {
  background: url("https://untuned.us/plug/cohost.png");
}

.icon-chat-cohost+span,
#dialog-user-role .dialog-body .role-menu .menu ul .cohost span {
  color: #db182e !important;
}

/*#####[MANAGER]#####*/
.icon-chat-manager {
  background: url("https://untuned.us/plug/manager.png");
}

.icon-chat-manager+span,
#user-lists .group.manager~.user span,
#dialog-user-role .role-menu .menu ul .manager span {
  color: #ab48c7 !important;
}

#user-lists .group.manager {
  color: #ab48c7;
  background: linear-gradient(to right, hsla(287, 53%, 53%, 0.5), hsla(287, 53%, 53%, 0.5)) !important;
}

/*#####[BOUNCER]#####*/
.icon-chat-bouncer {
  background: url("https://untuned.us/plug/bouncer.png");
}

.icon-chat-bouncer+span,
#user-lists .group.bouncer~.user span,
#dialog-user-role .role-menu .menu ul .bouncer span {
  color: #5DB4FF !important;
}

#user-lists .group.bouncer {
  color: #5DB4FF;
  background: linear-gradient(to right, hsla(208, 100%, 68%, 0.5), hsla(208, 100%, 68%, 0.5)) !important;
}

/*#####[RDJ]#####*/
.icon-chat-dj {
  background: url("https://untuned.us/plug/rdj.png");
  background-position: 0 0 !important;
}

#user-lists .group.dj {
  color: #F7A452;
  background: linear-gradient(to right, hsla(30, 91%, 65%, 0.5), hsla(30, 91%, 65%, 0.5)) !important;
}

.icon-chat-dj+span,
#user-lists .group.dj~.user span,
#dialog-user-role .role-menu .menu ul .dj span {
  color: #F7A452 !important;
}

/*#####[SUBS]#####*/
.icon-chat-subscriber,
#user-rollover .meta.subscriber .status i {
  background: url("https://untuned.us/plug/sub.png");
}

#user-rollover .meta .status i {
  top: -2px !important;
  left: 2px !important;
}

#user-lists .list {
  top: 55px !important;
}

#user-lists .group {
  border: none !important;
  box-shadow: 0 0 1px 1px;
}

#user-lists .user:hover {
  background: linear-gradient(hsla(220, 10%, 10%, 0.5), hsla(220, 10%, 12%, 0.5)) !important;
}

.right-side-wrapper #waitlist .list .user:hover {
  background: linear-gradient(hsla(220, 10%, 10%, 0.5), hsla(220, 10%, 12%, 0.5)) !important;
}

#user-lists .list.staff .user:hover .name {
  color: #eee !important;
}

#user-lists .header {
  height: 42px;
}

#user-lists .list-header {
  display: none;
}

#user-lists .header .button {
  top: 0px;
}

/*--[welcome & log]--*/
#chat .cm.welcome {
  color: hsl(210, 80%, 60%);
  box-shadow: inset 0 0 0 1px hsl(210, 50%, 30%);
}

#chat .log {
  background: linear-gradient(hsla(220, 30%, 20%, 0.8), hsla(220, 30%, 15%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 -1px 1px hsla(220, 30%, 10%, 0.8);
}

.cm strong {
  color: #fff !important;
}

.cm em {
  color: #999 !important;
}

/*--[moderation]--*/
#chat .cm.moderation {
  background: linear-gradient(hsla(260, 50%, 25%, 0.8), hsla(260, 50%, 15%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsl(260, 50%, 50%);
  border: none !important;
}

#chat .cm.moderation .timestamp {
  color: hsl(260, 70%, 70%);
}

/*--[user-action]--*/
#chat .cm.user-action {
  background: linear-gradient(hsla(60, 100%, 20%, 0.8), hsla(60, 100%, 10%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
}

#chat .cm.user-action .msg .from .un,
#chat .cm.user-action .timestamp {
  color: hsl(60, 90%, 70%) !important;
}

#user-lists .header .button.staff.selected {
  border-bottom: 1px solid #ac76ff !important;
}

#user-lists .header .button.ignored.selected {
  border-bottom: 1px solid #f04f30 !important;
}

/*--[user-rollover]--*/
#user-rollover {
  background: linear-gradient(135deg, hsla(0, 0%, 20%, 0.6), hsla(0, 0%, 0%, 0.6));
  box-shadow: 0 0 10px #000;
}

#user-rollover .info {
  background: linear-gradient(hsl(205, 100%, 40%, 0.5), hsl(205, 100%, 30%, 0.5));
  box-shadow: 0px -2px 10px -1px #000;
}

#user-rollover .info i+span {
  text-shadow: 0 0 5px #000;
}

.thumb {
  background: hsla(210, 10%, 10%, 0.4);
}

#user-rollover .info .badge-box,
#user-rollover .background,
#video-only-dj .background,
#search-suggestion,
#search-suggestion ul {
  background: rgba(0, 0, 0, 0);
}

.thumb.large,
.thumb,
#user-rollover .meta.online .thumb {
  border-color: hsl(80, 70%, 50%) !important;
  box-shadow: 0 0 7px hsl(80, 70%, 50%) !important;
}

.thumb.large,
#user-rollover .meta.online .thumb.large {
  box-shadow: 0 0 15px hsl(80, 70%, 50%) !important;
}

#user-rollover.is-staff .meta.online .thumb,
#waitlist .is-staff .thumb {
  border-color: hsl(270, 50%, 50%) !important;
  box-shadow: 0 0 7px hsl(270, 50%, 50%) !important;
}

#user-rollover.is-staff .meta.online .thumb.large {
  box-shadow: 0 0 15px hsl(270, 50%, 50%) !important;
}

#user-rollover .meta.subscriber .thumb,
#waitlist .is-subscriber .thumb {
  border-color: hsl(45, 80%, 45%) !important;
  box-shadow: 0 0 7px hsl(45, 80%, 45%) !important;
}

#user-rollover .meta.subscriber .thumb.large {
  box-shadow: 0 0 15px hsl(45, 80%, 45%) !important;
}

#user-rollover .meta.online .status i {
  display: none;
}

#user-rollover .meta.online .status span {
  color: hsl(80, 70%, 50%);
  margin-left: 0;
}

#user-rollover .meta.offline .status i {
  top: 0px !important;
}

.offline .thumb {
  border-color: hsl(0, 0%, 40%) !important;
  box-shadow: none !important;
}

#user-rollover .action {
  background: radial-gradient(hsla(0, 0%, 7%, 0.8), hsla(0, 0%, 0%, 0.8)) !important;
  box-shadow: 0 0 2px 1px #151515 !important;
}

#user-rollover .action:hover {
  background: radial-gradient(hsla(210, 100%, 30%, 0.9), hsla(210, 100%, 20%, 0.9)) !important;
  box-shadow: inset 0 0 50px #000 !important;
}

.signed-in .community__top-right .btn-subscribe {
  display: none !important;
}

.user-content.profile .meta {
  margin-top: 60px !important;
}

.user-level-dropdown__level-text {
  color: #00c6ff !important;
}

.user-level-dropdown__level-number .fa,
.user-level-dropdown__progress .progress .progress-bar,
.btn-level {
  background-color: #00c6ff !important;
  color: #fff;
}

.btn-level {
  color: #fff
}

.user-level-dropdown .user-name {
  font-weight: 500;
}

@media (min-width: 576px) {

  .community__right-bar,
  #user-lists,
  #waitlist,
  .community .friends,
  #rcs-menu {
    height: 93.2% !important;
  }
}

@media (min-width: 980px) {

  .community__right-bar,
  #user-lists,
  #waitlist,
  .community .friends,
  #rcs-menu {
    height: 93.2% !important;
  }
}

@media (min-width: 1200px) {

  .community__right-bar,
  #user-lists,
  #waitlist,
  .community .friends,
  #rcs-menu {
    height: 91.33% !important;
  }
}

@media (min-width: 1600px) {

  .community__right-bar,
  #user-lists,
  #waitlist,
  .community .friends,
  #rcs-menu {
    height: 92.33% !important;
  }
}

@media (min-width: 1800px) {

  .community__right-bar,
  #user-lists,
  #waitlist,
  .community .friends,
  #rcs-menu {
    height: 93.7% !important;
  }
}

@media (min-width: 1920px) {

  .community__right-bar,
  #user-lists,
  #waitlist,
  .community .friends,
  #rcs-menu {
    height: 93.7% !important;
  }
}

@media (min-width: 992px) {
  .community__bottom {
    width: 100%;
  }
}

#rs-toggle-sidebar {
  display: none !important;
}

@media (min-width: 768px) {
  [data-view=room] .bottom__playback-meta {
    width: 30%;
  }
}

.friends .jspContainer {
  height: 730px !important;
}

@media (min-width: 1200px) {
  .friends .jspContainer {
    height: 465px !important;
  }
}

@media (min-width: 1600px) {
  .friends .jspContainer {
    height: 554px !important;
  }
}

@media (min-width: 1800px) {
  .friends .jspContainer {
    height: 730px !important;
  }
}

@media (min-width: 1920px) {
  .friends .jspContainer {
    height: 730px !important;
  }
}

.rs-skip-button {
  margin-left: 0px !important;
}

[data-theme] .left-side-wrapper .left-side-wrapper-inner {
  background-image: url("https://i.imgur.com/WK1lRBo.png") !important;
}

.rsrow:hover {
  background: linear-gradient(hsla(220, 10%, 10%, 0.5), hsla(220, 10%, 12%, 0.5)) !important;
}

#waitlist-button .count {
  color: #eee !important;
}

#user-menu .item i {
  color: #eee !important;
  opacity: 1 !important;
}

#user-view .user-content .tab-menu button.selected,
#user-view .user-content .tab-menu button {
  border: none !important;
}

.share-song-item.share-facebook,
.share-room-item.share-facebook {
  color: #3b5998 !important;
}

.share-song-item.share-twitter,
.share-room-item.share-twitter {
  color: #1da1f2 !important;
}

.share-song-item.share-facebook:hover,
.share-song-item.share-twitter:hover {
  color: #eee !important;
}

.description.panel .value a[href*=".json"] {
  display: none;
}

/* untuned */
#user-rollover.id-4224900>.info>.role span {
  text-indent: -9999px;
  line-height: 0;
}

#user-rollover.id-4224900>.info>.role span:after {
  text-indent: 0;
  content: 'Host';
  display: block;
  line-height: initial;
  color: #db182e;
}

#user-rollover.id-4224900>.info>.role:hover span:after {
  text-indent: 0;
  content: 'Promoter';
  display: block;
  line-height: initial;
  color: #48be9e;
}

#user-rollover.id-4224900>.info>.role .icon {
  background: url("https://untuned.us/plug/host.png") !important;
}

#user-rollover.id-4224900>.info>.role:hover .icon {
  background: url("https://untuned.us/plug/promoter.png") !important;
}

.user.id-4224900 .icon-chat-promoter {
  background: url("https://untuned.us/plug/host.png") !important;
}